.body {
    background-image: radial-gradient(circle, white, goldenrod, rgb(160, 134, 67));
}
h1 {
    color: rgb(162, 121, 18); 
    font-size: 34px;             
    text-align: center;
    filter: brightness(120%);
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 5px 4px 5px #585858;
    position: absolute;
    top: 50%; 
    left: 40%;
    margin: 0;
    transition: color 0.3s ease, transform 0.3s ease; 
    animation: horizontal-flip 4s linear forwards; 
    transform-style: preserve-3d; 
    transform-origin: center center; 
}

@keyframes horizontal-flip {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}

h1:hover {
    color: rgb(248, 175, 187);                         
    transform: scale(1.1);                
}

